<div id="error">
    <div class="container text-center">
        <h1>404 - {{message}}</h1>
        <img src="/images/penguin.png" title="Error">
        <br>
        <a class="btn btn-primary btn-lg" href="https://popzit-ws.herokuapp.com/" target="_blank" role="button">API</a>
        <a class="btn btn-primary btn-lg" href="https://github.com/SaroyaMan/POPZIT-Web-Service" target="_blank" role="button">Github</a>
    </div>
</div>

